body {
    background-image: url('/static/wallper.jpg'); /* Временный путь */
}
h1 {
    text-align: center;
    font-size: 36px
}

.menu-link {
    font-size: 36px; /* Размер текста ссылки */
    font-weight: bold; /* Жирность текста */
    color: #000; /* Цвет текста */
    text-decoration: none; /* Убрать подчёркивание */
}

.menu-link:hover {
    color: #007BFF; /* Цвет при наведении */
    text-decoration: underline; /* Подчёркивание при наведении */
}

.item {
    font-size: 24px; /* Размер текста */
    margin-bottom: 10px; /* Отступ между элементами */
    display: flex; /* Для удобного размещения кнопки и текста */
    align-items: center; /* Выравнивание по вертикали */
}

.item button {
    margin-left: 10px; /* Отступ кнопки от текста */
    font-size: 18px; /* Размер текста на кнопке */
    padding: 5px 10px; /* Внутренние отступы кнопки */
}

