{% extends 'menu.html' %}

{% block pagename %}
<h1> Новости </h1>
{% endblock %}


{% block content %}
<h1>Свежие темы</h1>
<ul>
    {% for post in page_posts %}
    <li>
        {{ post.title }} ({{ post.created_at }})
        <p>{{ post.content }}</p>
    </li>
    {% empty %}
    <p>Здесь скоро будут новости.</p>
    {% endfor %}
</ul>
<form method="get" class="items-per-page-form">
    <label for="items-per-page">Новостей на странице:</label>
    <select name="items_per_page" id="items-per-page" onchange="this.form.submit()">
        {% for value in available_items_per_page %}
        <option value="{{ value }}" {% if value == current_items_per_page %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
</form>


<div class="pagination">
    <p>Страницы:</p>
    <ul>
        {% if page_posts.has_previous %}
        <li><a href="?page=1">ПОЛНЫЙ НАЗАД</a></li>
        <li><a href="?page={{ page_posts.previous_page_number }}">ОТХОДИМ</a></li>
        {% endif %}
        <li>{{ page_posts.number }}/{{ paginator.num_pages }}</li>
        {% if page_posts.has_next %}
        <li><a href="?page={{ page_posts.next_page_number }}">ШТУРМУЕМ</a></li>
        <li><a href="?page={{ paginator.num_pages }}">ПОЛНЫЙ ВПЕРЁД</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}


